#stories::-webkit-scrollbar {
  display: none;
}

#stories {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

#stories > div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

#stories > div::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}